/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */


input.js-cart-line-product-quantity::-webkit-outer-spin-button,
input.js-cart-line-product-quantity::-webkit-inner-spin-button,
.product-quantity input#quantity_wanted::-webkit-outer-spin-button,
.product-quantity input#quantity_wanted::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input.js-cart-line-product-quantity,
.product-quantity input#quantity_wanted {
    -moz-appearance: textfield;
}

.tt-popover-add-to-cart {
  position: relative;
  width: 100%;
}

.tt-popover-add-to-cart .add {
  width: 100%;
}

.tt-popover-add-to-cart .tt-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
}

.tt-product-price {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #000;
  color: #fff;
  font-size: .825rem;
  font-weight: 700;
  padding: 2px 6px;
  border-radius: 2px;
}

.tt-product-pretitle {
  font-size: .875rem;
  font-weight: 400;
  margin: 0;
}

.tt-product .product-title {
  text-align: left;
  font-size: 1.05rem;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.tt-product .card-body {
  padding: 0rem 0.5rem 0.5rem 0.5rem;
}

.tt-product .product-thumbnail {
  background: #fff;
}
body {
  background-color: #fff;
}
.breadcrumb {
  background-color: #fff;
}
.slick-slide .rc {
  background: #fff;
}
.tt-product {
  margin-bottom: 2rem !important;
}
.tt-product .card-product {
  border: 0;
}
.tt-variant-btn input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.tt-variant-btn {
  background-color: #fff;
  border: 1px solid #aaa;
  color: #000;
  margin-right: 8px;
}
.tt-variant-btn.active {
  background-color: #2fb5d2 !important;
  border: 1px solid #2fb5d2 !important;
  color: #fff !important;
  box-shadow: none !important;
}
.product-prices .tax-shipping-delivery-label {
  display: none;
}
.product-prices .current-price-display {
  font-size: 2rem;
  font-weight: 600;
}
.product-prices {
  margin-bottom: 1rem;
}
.tt-productpage-title {
  margin: .5rem 0;
}
.cart-summary .card-footer {
  padding: 0;
}
.product-line-actions .input-group.bootstrap-touchspin {
    max-width: 100px;
}
input.js-cart-line-product-quantity {
  padding: 0;
}
#customer-form .form-fields .form-group small.text-muted {
  display: none;
}
