/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */


input.js-cart-line-product-quantity::-webkit-outer-spin-button,
input.js-cart-line-product-quantity::-webkit-inner-spin-button,
.product-quantity input#quantity_wanted::-webkit-outer-spin-button,
.product-quantity input#quantity_wanted::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input.js-cart-line-product-quantity,
.product-quantity input#quantity_wanted {
    -moz-appearance: textfield;
}

.tt-popover-add-to-cart {
  position: relative;
}

.tt-popover-add-to-cart .tt-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
}

.tt-product-price {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 2px;
}

.tt-product-pretitle {
  font-size: .875rem;
  font-weight: 400;
  margin: 0;
}

.tt-product .product-title {
  text-align: left;
  font-size: 1.05rem;
  margin: 0;
}

.tt-product .card-body {
  padding: 0rem 0.5rem 0.5rem 0.5rem;
}

.tt-product .product-thumbnail {
  background: #fff;
}
body {
  background-color: #fff;
}
.breadcrumb {
  background-color: #fff;
}
#carousel .slick-slide .rc {
  background: #fff;
}
